<div class="side_productos">
				<span class="title_2">RESUMEN:</span>


				<p class="w100" ><strong>“VIDA SEGURA”</strong> es un programa, desarrollado por Equivida S.A., que pretende ayudar  a todo el público en general a mejorar la comprensión del Seguro de Vida, de tal modo que pueda acceder a uno de los milagros financieros  y sociales más grandes de nuestro tiempo, con un conocimiento fundamental del mismo.</p>

				<div class="grey_sky w100">
							<a href="productos-del-seguro-de-equivida">1.- El Riesgo </a>
						<ul>
							<li class="actual"><a href="productos-del-seguro-de-equivida">1.1 Que es el riesgo</a> </li>
							<li><a href="como-manejamos-el-riesgo">1.2 Como manejamos el riesgo </a></li>
							<li><a href="tipos-riesgo">1.3 Tipos riesgo </a></li>
							<li><a href="#">1.4 Riesgos Personales </a></li>
						</ul>
				</div>

				<div class="grey_sky w100">
						<a href="un-contrato">2.- Póliza </a>
						<ul>
							<li><a href="un-contrato">2.1 Un Contrato</a></li>
							<li><a href="elementos-esenciales-de-la-poliza">2.2 Elementos Esenciales de la Póliza </a> </li>
						</ul>
				</div>
				<div class="grey_sky w100">
					<a href="#">3.- Seguros de Vida </a>
						<ul>
							<li><a href="#">3.1 El Seguro de Vida Temporal</a></li>
							<li><a href="#">3.2 El Seguro de Vida Ordinario o Permanente</a> </li>
							<li><a href="#">3.3 El Seguro de Vida Dotal</a></li>
						</ul>
				</div>

				<div class="grey_sky w100">
					<a href="#">4.- Estructura y Funcionamiento </a>
						<ul>
							<li><a href="#">3.1 Información General</a></li>
							
						</ul>
				</div>



			</div>